node_modules
dist  
dist/*

coverage
logs.log

# Keep environment variables out of version control
.env
# Ignore the Prisma schema file that is used to deploy the database
prisma/schema.prisma


# Ignore dist folder